.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.imageContainer {
}

.image {
}

.textContainer{
    color: #000;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 500;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
}
.info {
}