@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
    margin: 0 auto;
    width: 1000px;
    padding: 20px;
}

.hw {
    padding: 10px;
    border-radius: 3px;
}

.hwTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

#hw1{
    background:black ;
}