.select {
    width: 180px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 25px 6px 10px;
    cursor: pointer;
}

.select:focus {
    border-radius:0;
}

.option{
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
}
.option:hover {
    background-color: #c3c3c3;
}
